In [88]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)

In [89]:
import nltk

In [90]:
#nltk.download()

In [91]:
import pandas as pd

In [92]:
fake = pd.read_csv("Fake.csv")
genuine= pd.read_csv("True.csv")

In [93]:
display (fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [94]:
display (genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [95]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [96]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [97]:
fake['target']=0
genuine['target']=1

In [98]:
display(genuine.head(10))

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [99]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [100]:
data=pd.concat([fake,genuine],axis=0)

In [101]:
date=data.reset_index(drop=True)

In [102]:
data=data.drop(['subject','date','title'],axis=1)

In [103]:
print(data.columns)

Index(['text', 'target'], dtype='object')

### Tokenization

In [104]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [105]:
from nltk.tokenize import word_tokenize

In [106]:
data['text']=data['text'].apply(word_tokenize)

## Stemming

In [107]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [108]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [109]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [110]:
data['text']=data['text'].apply(stem_it)

In [111]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

### Stop work removal

In [112]:
#from nltk.corpus import stopwaords

In [113]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [114]:
data['text']=data['text'].apply(stop_it)

In [115]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [116]:
data['text']=data['text'].apply(' '.join)

### Splitting

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

20125    thug burn down sever build saturday night milw...
18199    new delhi reuter indian airforc helicopt crash...
18177    astana reuter russian foreign minist sergei la...
11931    london reuter armi bomb dispos team was sent h...
18181    love know your thought this think sort unreal ...
Name: text, dtype: object

20125    0
18199    1
18177    1
11931    1
18181    0
Name: target, dtype: int64

### Vectoization

In [118]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [119]:
print(tfidf_train)

  (0, 32907)	0.07489402365290695
  (0, 86847)	0.01699222382077231
  (0, 11591)	0.02646481678638646
  (0, 69802)	0.02795726265459604
  (0, 78751)	0.03928010084271483
  (0, 42328)	0.021842830658219646
  (0, 27744)	0.03493416557847812
  (0, 7831)	0.019770359971874017
  (0, 64237)	0.020965861271295596
  (0, 89144)	0.01235277723983698
  (0, 60305)	0.05575281415772523
  (0, 81631)	0.017971936681359914
  (0, 81667)	0.020625855933923066
  (0, 25160)	0.02175959017358473
  (0, 73990)	0.023856249375654053
  (0, 75662)	0.026547499672961525
  (0, 26369)	0.05811577943036713
  (0, 11309)	0.040779268222154795
  (0, 77777)	0.018830945037022595
  (0, 9215)	0.013599161015928162
  (0, 9580)	0.04556957872746704
  (0, 70995)	0.033325489488769906
  (0, 69367)	0.015033596989461929
  (0, 86892)	0.028984254077607626
  (0, 52034)	0.025276626011058848
  :	:
  (33672, 22900)	0.024580651188060063
  (33672, 42086)	0.027895789400564117
  (33672, 73977)	0.022192873614359093
  (33672, 88303)	0.05113239124272127
  (33672, 71818)	0.028813927735824446
  (33672, 1586)	0.0684630658064679
  (33672, 40596)	0.02678861585039776
  (33672, 37764)	0.01826632207920481
  (33672, 46391)	0.02038056128545374
  (33672, 88801)	0.012318089581179241
  (33672, 68840)	0.02332120488390062
  (33672, 33346)	0.04621322234394719
  (33672, 17816)	0.03889867732166335
  (33672, 91061)	0.06780232776809203
  (33672, 38043)	0.020135462645358166
  (33672, 81267)	0.03478968371810413
  (33672, 9484)	0.044781695401103314
  (33672, 37907)	0.027362365389652928
  (33672, 88958)	0.019755849568388686
  (33672, 61381)	0.024063800301290194
  (33672, 59409)	0.014488620131586326
  (33672, 27705)	0.015697853546201884
  (33672, 90732)	0.012069137392471582
  (33672, 24454)	0.024110116572133265
  (33672, 61525)	0.03857952911111728

## Logistic Regression

In [120]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [124]:
model_1= LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.84187082405346

## PassiveAggressiveClassifier

In [126]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [127]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('THe accurracy of pediction is',accscore*100)

THe accurracy of pediction is 99.66146993318486